node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
.idea
ios/infinidraw-expo.xcworkspace
ios/Pods
android/local.properties
android/app/app.iml
android/app/build
android/.gradle
